.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    color: white;
}
.header-top{
    border-bottom: 1px solid white;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.navbar {
    display: flex;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu-item {
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 12px;
    text-align: center;
    transition: border-width 0.6s linear;
}

.menu-item:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.menu-item:hover::after {
    width: 100%;
}

.menu-item p {
    font-size: 1.2rem;
    color: white;
}